<% if(currentUser.role === "student") { %>

    <div class="card container form border-0 rounded-0 shadow-sm px-3 py-4" id="checkup">
        <h1>Request order</h1>
        <form class="row g-3" action="/request_order" method="post">
          <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input disabled value="<%= currentUser.name %>" type="email" class="form-control" id="name">
          </div>
          <div class="col-md-6">
            <label for="hostel" class="form-label">Hostel</label>
            <select name="hostel" class="form-select" aria-label="Covid Reports">
          
                <% hostels.forEach((hostel) => { %>
      
                  <% if(hostel.status === 'yes') {%>
                    <option value="<%= hostel.name %>"><%= hostel.name %></option>
                  <% } else { %>
                    <option disabled value="<%= hostel.name %>"><%= hostel.name %> - Not Sanitized</option>
                  <% } %>
      
                <% }) %>
      
              </select>
          </div>
          <div class="col-md-6">
            <label for="mobile" class="form-label">Mobile no.</label>
            <input name="mobileno" type="number" class="form-control" id="mobile">
          </div>
          <div class="col-md-6">
            <label for="mobile" class="form-label">Order from</label>
            <select name="from" class="form-select" aria-label="Covid Reports">
                <option selected value="Canteen">Canteen</option>
                <option value="Book Shop">Book Shop</option>
            </select>
          </div>
          <div class="col-md-12">
            <label for="item" class="form-label">Item Description</label>
            <textarea name="item" class="form-control" id="item" rows="3"></textarea>
          </div>     
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
      </div>
      
      <hr>
      
      <div>
        <h1 class="mb-2">Requested order</h1>
        <% orders.forEach((order) => { %>
      
            <% if(order.user.id.equals(currentUser._id)){ %>
                
                <div class="card border-0 rounded-0 shadow-sm p-3 mb-3">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-10">
                        <p><b>Hostel No</b> - <%= order.hostel %></p>
                        <p><b>Mobile No</b> - <%= order.mobileno %></p>
                        <p><b>From</b> - <%= order.from %></p>
                        <p><b>Items</b> - <%= order.item %></p>
                        </div>
                        <div class="col-md-2">
                            <% if(order.status === 'approved'){ %>
                            <h5 class="text-success"><i class="fa fa-check-circle"></i> Accepted</h5>
                            <% } else if(order.status === 'rejected'){ %>
      
                            <h5 class="text-danger"><i class="fa fa-times-circle"></i> Rejected</h5>
                            <% }else{ %>
      
                            <h5 class="text-warning"><i class="fa fa-exclamation-circle"></i> Pending</h5>
                            <% } %>
                        </div>
                    </div>
                </div>
      
            <% } %>
        <% }) %>
      </div>
      
    <% } else { %>
    
    
        <h1>Requested order</h1>
        <% orders.forEach((order) => { %>
    
            <% if(order.college.id.equals(currentUser.college.id) && order.status === 'pending'){ %>
                
                <div class="card border-0 rounded-0 shadow-sm p-3">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-10">
                            <p><b>Name</b> - <%= order.user.name %></p>
                            <p><b>Hostel No</b> - <%= order.hostel %></p>
                            <p><b>Mobile No</b> - <%= order.mobileno %></p>
                            <p><b>From</b> - <%= order.from %></p>
                            <p><b>Items</b> - <%= order.item %></p>
                            </div>
                        <div class="col-md-2">
                            <form method="POST" action="/order/<%= order._id %>/approve?_method=PUT">
                                <button type="submit" class="btn btn-success mb-2">Approve</button>
                            </form>
                            <form method="POST" action="/order/<%= order._id %>/reject?_method=PUT">
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>
                        </div>
                    </div>
                </div>
    
            <% } %>
        <% }) %>
    
        
    <% } %>